/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-8rhrd9lyqj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8rhrd9lyqj] {
    flex: 1;
}

.sidebar[b-8rhrd9lyqj] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8rhrd9lyqj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8rhrd9lyqj]  a, .top-row[b-8rhrd9lyqj]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8rhrd9lyqj]  a:hover, .top-row[b-8rhrd9lyqj]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8rhrd9lyqj]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-8rhrd9lyqj] {
        display: none;
    }

    .top-row.auth[b-8rhrd9lyqj] {
        justify-content: space-between;
    }

    .top-row[b-8rhrd9lyqj]  a, .top-row[b-8rhrd9lyqj]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8rhrd9lyqj] {
        flex-direction: row;
    }

    .sidebar[b-8rhrd9lyqj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8rhrd9lyqj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-8rhrd9lyqj]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-8rhrd9lyqj], article[b-8rhrd9lyqj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MonsterComponent.razor.rz.scp.css */
@keyframes progress-b-l6wv0hb9i5 {
    0% {
        background-color: red;
    }

    32.5% {
        background-color: orange;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: lime;
    }
}

.progress[b-l6wv0hb9i5] {
    animation: 100s ease-in-out calc(-1s * var(--progress)) paused progress-b-l6wv0hb9i5;
}
