@keyframes progress {
    0% {
        background-color: red;
    }

    32.5% {
        background-color: orange;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: lime;
    }
}

.progress {
    animation: 100s ease-in-out calc(-1s * var(--progress)) paused progress;
}