@using System.ComponentModel.DataAnnotations

<div class="card bg-light m-1 fade @(ShouldShow?"show":"")" style="color:@Color; width:5em">
    <div class="card-header">
        <span class="float-left">@Title</span>
        @if (ThrowResult.Crit)
        {
            <span class="float-right">🌟</span>
        }
        
    </div>
    <div class="card-body" style="padding: 0.5em">
        @if (ThrowResult.SaveLimit == 0)
        {
            <p class="card-text mb-0">Hit: @ThrowResult.Hit</p>
        }
        <p class="card-text mb-0">Dmg: @ThrowResult.Damage</p>
    </div>
</div>

@code {

    [Parameter]
    [Required]
    public ThrowResult ThrowResult { get; set; } = null!;

    [Parameter]
    public string Title { get; set; }

    private string Color { get; set; } = null!;

    protected override void OnParametersSet()
    {
        Color = ThrowResult.Succeeded ? "var(--bs-green)" : "var(--bs-red)";
        Task.Run(async delegate
              {
                  await Task.Delay(250);
                  ShouldShow = true;
                  StateHasChanged();
              });
    }

    public bool ShouldShow { get; set; }
}
