@using System.ComponentModel.DataAnnotations;
@page "/"

<PageTitle>Index</PageTitle>

<div class="card bg-light mb-3">
    <div class="card-body">
        <button class="btn btn-lg btn-outline-dark" @onclick=NewGroup>New group</button>
    </div>
</div>

<div>
    <div class="d-flex flex-wrap">
        @for (int i = 0; i < Groups.Count; i++)
        {
            <GroupComponent @ref="GroupComponent" Group=@Groups[i]></GroupComponent>
        }
    </div>
</div>

@code{
    private List<Group> Groups = new List<Group>();
    private List<GroupComponent> GroupComponents = new List<GroupComponent>();

    private GroupComponent GroupComponent
    {
        set { GroupComponents.Add(value); }
    }

    private void ThrowAll()
    {
        foreach (var groupc in GroupComponents)
        {
    //groupc.Throw();
        }
    }

    private void NewGroup()
    {
        Groups.Add(new Group());
    }

    private void DestroyGroup(Group group)
    {
        var test = Groups.Remove(group);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        List<Attack> attacks = new List<Attack>();
        attacks.Add(new DirectAttack(Dice.d8, 4, 2, 2, "Hit"));
        Groups.Add(new Group(5, attacks));
        base.OnInitialized();
    }

}